.chatbotinterface {
    margin-top: -15%;
}

.center {
    margin-left: auto;
}

.form {
    width: 30%;
    margin: 1% auto 0 auto;
}

.normalButton {
    background: #6072e6 !important;
    border: none;
    color: white !important;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.normalButton:hover {
    background: #5160c2 !important;
}

.hrStyle {
    width: 35%;
    margin: auto;
}

.inline {
    display: inline;
}

.error {
    color: red;
    display: inline;
}

textarea {
    width: 100% !important;
    height: 100px !important;
    resize: none !important;
    border-radius: 10px;
}